/*
!/.gitignore
!/Documents/
/Documents/*
!/Documents/2025 Fall/
/Documents/2025 Fall/*
!/Documents/2025 Fall/SMG/
/Documents/2025 Fall/SMG/*
!/Documents/2025 Fall/SMG/Final Repo/
/Documents/2025 Fall/SMG/Final Repo/*
!/Documents/2025 Fall/SMG/Final Repo/Executable_Project_Code/
